* {
    font-family: 'Scheherazade', Verdana, Arial;
}

body {
    font-size: 1rem;
    color: #777;
}

em {
    color: tomato;
}

ol {
    padding-inline-start: unset;
    list-style: arabic-indic;
    counter-reset: 10;
}

.center {
    justify-content: center;
}

/*
This is the parent `<div>` that contains the content area.
*/

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

/*
The content `<div>` is where all your content goes.
*/

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
}

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #bbb;
    padding: 0;
    margin-top: 0;
}

.content {
    margin: 0 auto;
    max-width: 850px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header,
.content {
    padding-left: 2em;
    padding-right: 2em;
}

/* label {
    position: relative;
}

label:before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 512 512' fill-rule='evenodd' fill='gray'><path d='M487.976 0H24.028C2.71 0-8.047 25.866 7.058 40.971L192 225.941V432c0 7.831 3.821 15.17 10.237 19.662l80 55.98C298.02 518.69 320 507.493 320 487.98V225.941l184.947-184.97C520.021 25.896 509.338 0 487.976 0z'></path></svg>") center / contain no-repeat;
} */

#filter {
    cursor: pointer;
}

.ayah-item {
    padding: 0.5em 1em;
    border-bottom: 1px solid #ddd;
}

.ayah-item:hover {
    background: #efefef;
}

.ayat .playing {
    background: cornsilk;
}

.ayah-name {
    margin: 0 0 5px;
    text-transform: uppercase;
    color: #999;
}

.ayah-group {
    text-align: left;
}

.play-pause-button,
.tafsir,
.sharing {
    cursor: pointer;
    margin-right: 5px;
}

.pure-g .ayah-title {
    font-size: 1.17em;
    font-family: 'Scheherazade', Verdana, Arial;
}

.ayah-content {
    color: #777;
    font-size: 1.25em;
    font-weight: normal;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.ayah-group .active {
    border-bottom: 1px dotted black;
}

.tafsir .tooltiptext {
    font-size: 1.15em;
    width: 140px;
    background-color: #fffddc;
    color: #000;
    text-align: center;
    border: 1px dotted rgb(202, 180, 108);
    border-radius: 6px;
    padding: 5px;
    margin: 0 7px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.sharing .tooltiptext {
    /* horizontal */
    /* width: 115px;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    border: 1px dotted rgb(119, 119, 119);
    border-radius: 6px;
    margin: 0 7px 0;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: -10px; */

    /* vertical */
    width: 30px;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    border: 1px dotted rgb(119, 119, 119);
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -1px;
    right: 20px;
}

.pagination {
    width: unset;
}

.pagination a {
    cursor: pointer;
    color: black;
    float: right;
    padding: 3px 10px;
    margin: 3px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #888;
    color: white;
}

.pagination a.dots {
    cursor: default;
}

.pagination a:hover:not(.active):not(.dots) {
    background-color: #ddd;
}

@media only screen and (max-width: 480px) {
    input {
        margin: 0 auto;
    }

    .pure-form .pure-input-1-3 {
        width: 67%;
    }

    .header,
    .content {
        padding-left: 0;
        padding-right: 0;
    }
}


.social-links-demo a {
    /* horizontal */
    /* font-size: 25px;
    margin: 5px;
    display: inline-block; */

    /* vertical */
    font-size: 25px;
    margin: 2px 0px -1px 0px;
    display: inline-block;

}

.social-links-demo .fa-facebook-square {
    color: #3b5998
}

.social-links-demo .fa-twitter-square {
    color: #55acee
}

.social-links-demo .fa-whatsapp-square {
    color: #4FCE5D;
}